<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <style type="text/css">
        #second,
        #third,
        #fourth,
        #result {
            display: none;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #83D0C9;">
        <h5>Glove Weight Spot Check</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="background-color: rgb(192, 250, 245);">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center" id="result">Hello</h1>
                <div id="pg">
                    <div class="progress mt-4 ">
                        <div class="progress-bar" id="progressBar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <b class="lead" id="progressText">Form 1</b>
                        </div>
                    </div>
                </div>
                <div class="row mt-4  d-flex justify-content-center">
                    <h5>Glove Weight Form</h5>
                </div>


                <div class="row my-3">
                    <div class="col">
                        <label for="formGroupExampleInput">จำนวน Line</label>
                    </div>
                    <div class="col">
                        <select class="custom-select custom-select-sm" id="line" name="line">
                            <option disabled selected>select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <div class="col">
                        <button type="button" onclick="show_form()" id="line_submit" class="btn btn-info">submit</button>
                    </div>
                </div>

                <div class="row my-3"></div>
                <hr style="color: black;border: solid 0.3px;">

                <form action="https://www.google.com/" method="GET" id="first_form">
                    <div class="first" id="first">
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">badgeNo1</label></div>
                            <div class="col-6">
                                <input type="text" data-cutid=" " id="badge1" name="badge1" class="form-control"
                                    placeholder="Badge" readonly>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Block :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="block1" name="1block">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Line :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="productline1" name="productline1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Name :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productname1" name="productname1">

                                </select></div>
                        </div>
                        {{!-- <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Type :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="producttype1" name="producttype1">

                                </select></div>
                        </div> --}}
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Size :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productsize1" name="productsize1">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Length :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="length1" name="length1">
                                </select></div>
                            <b class="form-text text-danger" id="overlength">Over1 </b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Weight :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="weight1" name="weight1">
                                </select></div>
                            <b class="form-text text-danger" id="overweight">Over1</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Line Speed :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Line Speed" id="linespeed1" name="linespeed1">
                            </div>
                        </div>

                        <hr style="color: black;border: solid 0.3px;">
                        <div class="row">
                            <a href="#" class="btn btn-danger" id="next-1">Next</a>
                        </div>
                    </div>
                </form>

                <form action="https://www.google.com/" method="GET" id="second_form">
                    <div class="second" id="second">
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">badgeNo2</label></div>
                            <div class="col-6">
                                <input type="text" id="bagde2" name="badge2" class="form-control" placeholder="Badge"
                                    readonly>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Block :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="block2" name="block2">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Line :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="productline2" name="productline2">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Name :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productname2" name="productname2">

                                </select></div>
                        </div>
                        {{!-- <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Type :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="producttype2" name="producttype2">

                                </select></div>
                        </div> --}}
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Size :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productsize2" name="productsize2">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Length :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="length2" name="length2">
                                </select></div>
                            <b class="form-text text-danger" id="overlength">Over2</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Weight :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="weight2" name="weight2">

                                </select></div>
                            <b class="form-text text-danger" id="overweight">Over2</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Line Speed :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Line Speed" id="linespeed2" name="linespeed2">
                            </div>
                        </div>

                        <hr style="color: black;border: solid 0.3px;">
                        <div class="row" id="bt_2">
                            <a href="#" class="btn btn-danger" id="prev-2">Previous</a>
                            <a href="#" class="btn btn-danger" id="next-2">Next</a>
                        </div>
                    </div>
                </form>

                <form action="https://www.google.com/" method="GET" id="third_form">
                    <div class="third" id="third">
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">badgeNo3</label></div>
                            <div class="col-6">
                                <input type="text" id="bagde3" name="badge3" class="form-control" placeholder="Badge"
                                    readonly>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Block :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="block3" name="block3">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Line :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="productline3" name="productline3">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Name :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productname3" name="productname3">

                                </select></div>
                        </div>
                        {{!-- <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Type :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="producttype3" name="producttype3">

                                </select></div>
                        </div> --}}
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Size :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productsize3" name="productsize3">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Length :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="length3" name="length3">
                                </select></div>
                            <b class="form-text text-danger" id="overlength">Over3</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Weight :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="weight3" name="weight3">

                                </select></div>
                            <b class="form-text text-danger" id="overweight">Over3</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Line Speed :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Line Speed" id="linespeed3" name="linespeed3">
                            </div>
                        </div>

                        <hr style="color: black;border: solid 0.3px;">
                        <div class="row" id="bt_3">
                            <a href="#" class="btn btn-danger" id="prev-3">Previous</a>
                            <a href="#" class="btn btn-danger" id="next-3">Next</a>
                        </div>
                    </div>
                </form>

                <form action="https://www.google.com/" method="GET" id="fourth_form">
                    <div class="fourth" id="fourth">
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">badgeNo4</label></div>
                            <div class="col-6">
                                <input type="text" id="bagde4" name="badge4" class="form-control" placeholder="Badge"
                                    readonly>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Block :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="block4" name="block4">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Line :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="productline4" name="productline4">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Name :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productname4" name="productname4">

                                </select></div>
                        </div>
                        {{!-- <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Type :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="producttype4" name="producttype4">

                                </select></div>
                        </div> --}}
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Product Size :</label></div>
                            <div class="col-6"><select class="custom-select custom-select-sm" id="productsize4" name="productsize4">

                                </select></div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Length :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="length4" name="length4">
                                </select></div>
                            <b class="form-text text-danger" id="overlength">Over4</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Weight :</label></div>
                            <div class="col-6">
                                <select class="custom-select custom-select-sm" id="weight4" name="weight4">

                                </select></div>
                            <b class="form-text text-danger" id="overweight">Over4</b>
                        </div>
                        <div class="row my-3">
                            <div class="col-6"><label for="formGroupExampleInput">Line Speed :</label></div>
                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="Line Speed" id="linespeed4" name="linespeed4">
                            </div>
                        </div>

                        <hr style="color: black;border: solid 0.3px;">
                        <div class="row">
                            <a href="#" class="btn btn-danger" id="prev-4">Previous</a>
                            <input type="submit" name="submit" value="Submit" id="submit" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">

    var data = "{{data}}"
    var de_data = JSON.parse(decodeURI(data))
   // console.log(de_data)
    //  console.log(de_data.Product)
    //  console.log(de_data.Staff)
    //  console.log(de_data.StdLength)
    //  console.log(de_data.StdSize)
    //  console.log(de_data.StdWeight)
    var Block = [];
    var Staff = [];
    var Product = []
    var StdSize = [];
    var StdLength = [];
    var StdWeight = [];
    var option_block = "<option disabled selected>select</option>"
    var option_productline = "<option disabled selected>select</option>"
    var option_productname = "<option disabled selected>select</option>"
    var option_producttype = "<option disabled selected>select</option>"
    var option_productsize = "<option disabled selected>select</option>"
    var option_length = "<option disabled selected>select</option>"
    var option_weight = "<option disabled selected>select</option>"
    
    mm()
    myFunction()
    function mm() {

    // ===================================================================================================//
    for (let i = 0; i < de_data.Block.length; i++) {
        Block.push(de_data.Block[i])
    }
    for (let i = 0; i < de_data.Staff.length; i++) {
        Staff.push(de_data.Staff[i])
    }
    for(let i=0;i<de_data.Product.length;i++){
        Product.push(de_data.Product[i])
    }
    for(let i=0;i<de_data.StdSize.length;i++){
        StdSize.push(de_data.StdSize[i])
    }
    for(let i=0;i<de_data.StdLength.length;i++){
        StdLength.push(de_data.StdLength[i])
    }
    for(let i=0;i<de_data.StdWeight.length;i++){
        StdWeight.push(de_data.StdWeight[i])
    }


    // ===================================================================================================//
    for (let i = 0; i < Block.length; i++) {
        console.log(Block[i])
        option_block += '<option value="'+ Block[i].blockName +'">' + Block[i].blockName + '</option>'
        option_productline += '<option value="'+ Block[i].productLine +'">' + Block[i].productLine + '</option>'
    }
    for (let i = 0; i < Product.length; i++) {
        console.log(Product[i])
        option_productname += '<option value="'+Product[i].product_name+'-'+Product[i].product_type+'">' + Product[i].product_name+'-'+Product[i].product_type+ '</option>'
        option_producttype += '<option value="'+Product[i].product_type +'">' + Product[i].product_type + '</option>'
    }
    for (let i = 0; i < StdSize.length; i++) {
        console.log(StdSize[i])
        option_productsize += '<option value="'+ StdSize[i].std_size +'">' + StdSize[i].std_size + '</option>'
    }
    for (let i = 0; i < StdLength.length; i++) {
        console.log(StdLength[i])
        option_length += '<option value="' + StdLength[i].std_length + '">' + StdLength[i].std_length + '</option>'
    }
    for (let i = 0; i < StdWeight.length; i++) {
        console.log(StdWeight[i])
        option_weight += '<option value="' + StdWeight[i].std_weight  + '">' + StdWeight[i].std_weight  + '</option>'
    }


    // ===================================================================================================//
    //let badge = Staff[0].badgeNo
    // document.getElementById(":first/badge").value = Staff[0].badgeNo
    document.getElementById("block1").innerHTML = option_block
    document.getElementById("block2").innerHTML = option_block
    document.getElementById("block3").innerHTML = option_block
    document.getElementById("block4").innerHTML = option_block

    document.getElementById("productline1").innerHTML = option_productline
    document.getElementById("productline2").innerHTML = option_productline
    document.getElementById("productline3").innerHTML = option_productline
    document.getElementById("productline4").innerHTML = option_productline

    document.getElementById("productname1").innerHTML = option_productname
    document.getElementById("productname2").innerHTML = option_productname
    document.getElementById("productname3").innerHTML = option_productname
    document.getElementById("productname4").innerHTML = option_productname

    document.getElementById("producttype1").innerHTML = option_producttype
    document.getElementById("producttype2").innerHTML = option_producttype
    document.getElementById("producttype3").innerHTML = option_producttype
    document.getElementById("producttype4").innerHTML = option_producttype

    document.getElementById("productsize1").innerHTML = option_productsize
    document.getElementById("productsize2").innerHTML = option_productsize
    document.getElementById("productsize3").innerHTML = option_productsize
    document.getElementById("productsize4").innerHTML = option_productsize

    document.getElementById("length1").innerHTML = option_length
    document.getElementById("length2").innerHTML = option_length
    document.getElementById("length3").innerHTML = option_length
    document.getElementById("length4").innerHTML = option_length

    document.getElementById("weight1").innerHTML = option_weight
    document.getElementById("weight2").innerHTML = option_weight
    document.getElementById("weight3").innerHTML = option_weight
    document.getElementById("weight4").innerHTML = option_weight

    } // fn
    function myFunction() {
        $("#pg").hide()
        $("#first").hide();
        $("#second").hide();
        $("#third").hide();
        $("#fourth").hide();

    }

    function show_form() {
        let line = document.getElementById("line").value
        //console.log(line)
        document.getElementById("line_submit").disabled = true;
        if (line == 1) {
            // #################################################
            $("#first").show();
            $("#pg").show();
            $("#progressBar").css("width", "100%")
            $("#progressText").html("1")
            $('<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-success">').appendTo("#first");
            $("#next-1").hide()

        }
        else if (line == 2) {
            // #################################################
            $("#first").show();
            $("#pg").show()
            $("#progressBar").css("width", "50%")
            $("#progressText").html("Form 1")
            $('<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-success">').appendTo("#bt_2");

            // next to page 2
            $("#next-1").click(function () {
                $("#second").show();
                $("#first").hide();
                $("#progressBar").css("width", "100%")
                $("#progressText").html("Form 2")
                $("#next-2").hide()
                document.getElementById("block").innerHTML = option_block
            })

            // prev to page 1 
            $("#prev-2").click(function () {
                $("#first").show();
                $("#second").hide();
                $("#progressBar").css("width", "50%")
                $("#progressText").html("Form 1")
            })

        }
        else if (line == 3) {

            $("#first").show();
            $("#pg").show()
            $("#progressBar").css("width", "33%")
            $("#progressText").html("Form 1")
            $('<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-success">').appendTo("#bt_3");

            // next to page 2
            $("#next-1").click(function () {
                $("#second").show();
                $("#first").hide();
                $("#progressBar").css("width", "66%")
                $("#progressText").html("Form 2")
            })

            // next to page 3
            $("#next-2").click(function () {
                $("#third").show();
                $("#second").hide();
                $("#progressBar").css("width", "100%")
                $("#progressText").html("Form 3")
                $("#next-3").hide()
            })

            //prev to page 1
            $("#prev-2").click(function () {
                $("#first").show();
                $("#second").hide();
                $("#progressBar").css("width", "33%")
                $("#progressText").html("Form 1")

            })
            // prev to page 2
            $("#prev-3").click(function () {
                $("#second").show();
                $("#third").hide();
                $("#progressBar").css("width", "66%")
                $("#progressText").html("Form 2")
            })
        }
        else if (line == 4) {
            $("#first").show();
            $("#pg").show()
            $("#progressBar").css("width", "25%")
            $("#progressText").html("Form 1")


            $("#next-1").click(function () {
                $("#second").show();
                $("#first").hide();
                $("#progressBar").css("width", "50%")
                $("#progressText").html("Form 2")
            })

            $("#next-2").click(function () {
                $("#third").show();
                $("#second").hide();
                $("#progressBar").css("width", "75%")
                $("#progressText").html("Form 3")
            })

            $("#next-3").click(function () {
                $("#fourth").show();
                $("#third").hide();
                $("#progressBar").css("width", "100%")
                $("#progressText").html("Form 4")
            })

            $("#prev-2").click(function () {
                $("#first").show();
                $("#second").hide();
                $("#progressBar").css("width", "25%")
                $("#progressText").html("Form 1")
            })

            $("#prev-3").click(function () {
                $("#second").show();
                $("#third").hide();
                $("#progressBar").css("width", "50%")
                $("#progressText").html("Form 2")
            })

            $("#prev-4").click(function () {
                $("#third").show();
                $("#fourth").hide();
                $("#progressBar").css("width", "75%")
                $("#progressText").html("Form 3")
            })

        }
    }




</script>

</html>